.skeleton-side_wrapper {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.aside-skeleton {
  margin: 9px 0;
}

.remote-app-routes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active.item {
  background: hsla(0, 0%, 100%, 0.15);
  font-weight: 700;
}

.active.item::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background: #2185d0;
  top: 95%;
  left: 0;
  display: block;
  margin-left: 16px;
}

.item::before {
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: hsla(0, 0%, 100%, 0.08);
}

.item:focus-visible {
  outline: 1px solid #2185d0;
}

.item {
  -webkit-tap-highlight-color: transparent;
  background: 0 0;
  flex: 0 0 auto;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  vertical-align: middle;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
}

.item.active {
  background: hsla(0, 0%, 100%, 0.15);
  color: #fff;
}

.item:hover {
  background: hsla(0, 0%, 100%, 0.08);
}

.item:hover::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background: #2185d0;
  top: 95%;
  left: 0;
  display: block;
  margin-left: 16px;
}

.item.external::after {
  content: url(../shared/images/external.svg);
  margin-left: auto;
}
