body {
  background-color: #ebebeb;
}

.ui.segment.start-loader {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  align-items: center;
}

.ui.centered.inline.loader.active, .ui.centered.inline.loader.visible {
  z-index: 1;
}

.wrapper {
  display: flex;
}

.chrome-header {
  height: 76px;
  background-color: #151515;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  z-index: 2;

  .info-section {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 2rem;

      label {
          display: flex;
          color: white;
          align-items: center;
          column-gap: 1rem;
      }

      .ui.fluid.dropdown.locations {
        width: 125px;

        .menu.transition.visible {
          max-height: calc(100vh - 60px);

          .active.item.selected {
            color: #4183c4;
          }

          .available {
            font-weight: 700;
          }
        }

        .menu>.divider {
          margin: 0;
        }
      }
  }

  .location-popup {
    margin-right: -6px;

    &::before {
      color: #B6B6B6;;
    }
  }

  .ui.dropdown.user-dropdown {
    color: white;
    font-size: 16px;

    .menu.transition.visible.first-level {
      left: -16px;
      top: 36px;
    }

    .item.current {
      background: #EBEBEB;
    }

    .link.item {

      &.accounts {
          z-index: 3;
      }

      &.role {
        z-index: 2;
      }

      &.lang {
        z-index: 1;
      }
    }

    .menu.transition.second-level {
        top: 0px !important;
    }

    .header {
        text-transform: none;
        font-weight: normal;
    }
  }

  .question-dropdown {
    height: 16px;

    .menu.transition.visible {
      top: 24px;
    }
  }
}

aside {
  width: 290px;
  margin-top: 76px;
  background-color: #212427;
  position: fixed;
  height: 100vh;

  ul {
      margin: 0;
      padding: 0;
  }

  li {
      list-style-type: none;
  }

  a {
    font-size: 16px;
    color: white;
    display: flex;
    padding: 8px 24px 16px;

    &:hover {
        background-color: #d2d2d2;
    }
  }
}

.main-content {
  padding: 106px 2% 2%;
  transition: all .5s ease-out;
  display: flex;
  flex-direction: column;
}

.ui.inverted.menu .active.item {
  font-weight: 700;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 2px; 
    background: #2185d0; 
    top: 95%;
    left: 0;
    display: block;
    margin-left: 16px;
  }
}

.ui.visible.left.overlay.sidebar {
  z-index: 1;
}

.ui.overlay.sidebar {
  z-index: 1;
  display: table;
}

.ui.inverted.menu.sidebar_top {
  margin-top: 75px;
  border-bottom: 1px solid rgb(45, 46, 47);
  height: 60px;

  >.sidebar_home_link {
    border-right: 1px solid rgb(45, 46, 47);
    padding-top: 20px;
  }

  >.sidebar_logo_text {
    font-size: 15px;
    width: 100%;
    height: auto;
    margin: auto;
  }

  .ui.dropdown.services {
    .divider.text img {
      display: none !important;
    }

    .menu>.divider {
      margin: 0;
    }

    .menu.transition.visible {
      border: none !important;
      top: 150%;

      .item {
        background: black !important;
        color: white !important;
        display: flex;
        align-items: center;
        padding: 12px 17px;
        font-size: 15px;

        &.current {
          color: #2185D0 !important;
          cursor: default;

          &:hover {
            background: #000000 !important;
          }
        }

        &:hover {
          background: #262626 !important;
        }

        &.external::after {
            content: url(./images/external.svg);
            margin-left: auto;
        }

        img {
          width: 27px;
          display: inline-block;
          vertical-align: top;
          margin-top: -0.5em;
          margin-bottom: -0.5em;
          max-height: 2em;
          margin-left: 0;
          float: none;
          margin-right: 0.78571429rem;
        }

        span {
          margin-right: 14px;
        }
      }
    }
  }
}

.unavailable {
  margin: 0;
  padding-top: 49vh;
  text-align: center;
  transition: all .5s ease-out;
}
